/* ============ IMPORTED FONTS FROM GOOGLE =========== */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz&display=swap');

/* ============ AGENT CONTAINER =========== */
.agent-section {
    width: 100vw;
    height: 30vw;
    background-color: #010b13;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* ============ COLUMN 1 (AGENT NAME) =========== */
.column1 {
    font-family: 'Anton', sans-serif;
    overflow-y: scroll;
    font-size: 50px;
    text-transform: uppercase;
}

.column1::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #ECE8E1;
}

.agent-name h1 {
    margin: 0;
}


/* ============ COLUMN 2 (AGENT IMAGE) =========== */
.column2 {
    width: 25%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.agent-portrait {
    max-width: 35vw;
    margin-top: 100px;
    animation: fadeIn 8s; 
}


/* ============ COLUMN 3 (AGENT INFO) =========== */
.column3 {
    width: 20%;
    /* border: 1px solid gray; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 15%;
    margin: 0;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

h2 {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
    margin: 5;
    display: flex;
}

p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
}


/* ============ ABILITY SECTION (ABILITY INFO) =========== */
.ability-section {
    font-family: 'Anton', sans-serif;
    padding: 150px 0;
    width: 100vw;
    max-width: 70%;
    height: 1000px;
    margin: auto;
    background-image: url('../images/Valorant.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    opacity: 0.5;
    /* border: 1px solid black; */
}

.ability-info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.ability1,
.ability2,
.ability3,
.ability4 {
    /* border: 1px solid black; */
    width: 300px;
    text-align: center;
}

.ability-icon {
    background-color: black;
    width: 50%;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}