.section1 {
    height: 80vh;
    background-color: #ece8e1;
    margin-top: 80px;
}

.section2 {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010b13;
}

.section2 > a {
    color: blue;
    font-size: 20px;
}

.section2 > h1 {
    color: #ece8e1;
}

.gallery {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Valorant.png');
    background-size: cover;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 1024px) {
    .gallery {
        height: 50vw;
    }
    .section1 {
        height: 100vh;
    }
}

@media only screen and (max-width: 400px) {
    .gallery {
        background-size: contain;
        height: 90%;
        background-image: url('../images/Valorantiphone.png');
    }
    .section1 {
        height: 100vh;
    }
}