.section1 {
    width: 100vw;
    max-width: 100%;
    height: 80px;
    background-color: black;
}

.section2 {
    width: 100vw;
    max-width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece8e1;
}

.section3 {
    width: 100vw;
    max-width: 100%;
    height: 150px;
    background-color: gray;
}

