@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.modalBackground {
    max-width: 40%;
    border: 2px solid gray;
    /* background-color: #B2BEB5; */
    background-color: #414a4c;
    position: relative;
    z-index: 8;
    /* padding: 10px; */
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    animation: SlideUp 0.5s ease-in;
}

.layout-image {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.closeBtn {
    margin: 10px;
}

.closeBtn > button{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    height: 50px;
    width: 100px;
    position:absolute;
    right: 5%;
    top: 3%;
    /* left: 10%; */
    /* border: 1px solid black; */
}

.closeBtn > button:hover {
    background-color: #fa4454;
    transition: 0.2s ease-in;
}

@keyframes SlideUp {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}