/* ============ IMPORTED FONTS FROM GOOGLE =========== */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz&display=swap');


/* ============ MAP CONTAINER =========== */
.map-body {
    border: 1px solid black;
    margin-top: 80px;
    height: 100vh;
    background-color: #F8F4EC;
}

.map-main {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    position: absolute;
    top: 10%;
    left: 15%;
    /* border: 1px solid black; */
}


/* ============ MAP IMAGES =========== */
.every-map {
    height: 62vh;
    width: auto;
    padding: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 550px 550px;
    border-bottom-right-radius: 550px 550px;
    /* border: 1px solid black; */
}


/* ============ MAPS TITLE =========== */
h6 {
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 17%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    z-index: 1;
}


/* ============ SNAP SCROLL BAR FOR MAP SECTION =========== */
.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}


/* ============ MAP INFO BOX =========== */
.map-info {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    position: absolute;
    left: 62%;
    top: 60%;
    background-color: #B2BEB5;
    color: whitesmoke;
    padding: 20px;
}

.map-name {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 70px;
    margin: 0;
}


.openLayoutBtn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 60%;
    color: whitesmoke;
    background-color: black;
}