@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.nav-container {
  font-family: 'Secular One', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  font-size: 20px;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-container a {
  color: #ece8e1;
  text-decoration: none;
} 

.home-link:hover,
.agents-link:hover,
.maps-link:hover,
.weapons-link:hover {
  background-color: gray;
  border-radius: 5px;
}

.home-link,
.agents-link,
.maps-link {
  text-align: center;
  padding: 3px;
  width: 100px;
  border-radius: 5px;
}

.weapons-link {
  width: 140px;
  padding: 3px;
  text-align: center;
}

/* ============== MEDIA QUERY ============ */
@media only screen and (max-width: 390px) {
  .nav-container {
    font-size: 15px;
    width: 390px;
  }

  .weapons-link {
    width: 100px;
  }

  .home-link,
  .agents-link,
  .maps-link {
    width: 90px;
}
}