/* ============ IMPORTED FONTS FROM GOOGLE =========== */
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

/* ============ WEAPON CONTAINER =========== */
.weapon-body {
    font-family: 'Bayon', sans-serif;
    /* border: 1px solid black; */
    margin-top: 80px;
    height: 100%;
    background-color: #f4f0ec;
    /* background-image: url('../images/Valorant7.png');
    background-repeat: no-repeat; */
    color: #0F1923;
}

.weapon-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    padding: 50px;
}


/* ============ WEAPON HEADER =========== */
.weapon-title {
    border: 1px solid black;
    border-right: none;
    max-width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 130px;
    font-size: 60px;
}

.weapon-body h1 {
    /* border: 1px solid black; */
    max-width: 50%;
    margin: 0;
}


/* ============ WEAPON SECTION =========== */
.weapon-section {
    border: 1px solid gray;
    height: 400px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.weapon-name {
    font-size: 35px;
    text-transform: uppercase;
    /* border: 1px solid black; */
    padding-left: 30px;
}

.weapon-image {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.wep-image {
    max-height: 65%;
}