/* ============ IMPORTED FONTS FROM GOOGLE =========== */
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

/* ============ WEAPON CONTAINER =========== */
.weapon-body {
    font-family: 'Bayon', sans-serif;
    border: 1px solid black;
    margin-top: 80px;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: #0F1923;
}

.weapon-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 50px;
    position: relative;
}

/* ============ BACKGROUND IMAGE =========== */
.bg-image:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('../images/Valorant7.png');
    background-size:contain;
}


/* ============ WEAPON HEADER =========== */
.weapon-title {
    border: 3px solid black;
    border-right: none;
    max-width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 130px;
    font-size: 60px;
    position: relative;
}

.weapon-body h1 {
    max-width: 50%;
    margin: 0;
}


/* ============ WEAPON SECTION =========== */
.weapon-section {
    border: 2px solid black;
    height: 400px;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    opacity: 0.9;
}

.weapon-name {
    font-size: 35px;
    text-transform: uppercase;
    padding-left: 30px;
}

.weapon-image {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon-section:hover {
    background-color: #fa4454;
    transition: 0.5s ease;
}

.wep-image {
    max-height: 65%;
}

/* ============== MEDIA QUERY ============ */
@media only screen and (max-width: 390px) {
    .weapon-title {
        height: 200px;
        line-height: 60px;
        font-size: 30px;
    }

    .weapon-section {
        height: 300px;
        max-width: 350px;
    }

    .weapon-name {
        font-size: 23px;
    }

    .wep-image {
        max-width: 80vw;
    }

    .weapon-image {
        width: 85vw;
    }
}